[Unit]
Description=User Usage Timer
After=graphical.target

[Service]
ExecStart=/usr/local/bin/usage_timer.sh
Restart=always
User=sam
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/sam/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

